<style>
  .square_form > * {
    display: block;
  }
</style>

<form class="square_form" action="/square/results">
  <label for="user_number">Enter a number</label>
  <input type="text" name="user_number" id="user_number" placeholder="What number do you want to take the square of?">
  <button>Calculate square</button>
</form>
