<style>
  .random_form > * {
    display: block;
  }
</style>

<form class="random_form" action="/random/results">
  <div>
    <label for="min_number">Minimum</label>
    <input type="text" name="min_number" id="min_number" placeholder="E.g. 1.5">
  </div>

  <div>
    <label for="max_number">Maximum</label>
    <input type="text" name="max_number" id="max_number" placeholder="E.g. 4.5">
  </div>
  <button>Pick random number</button>
</form>
